<html>
<head>
    <title>Calendar</title>
    <meta charset="utf-8">
</head>
<body>
    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <div class="containe">
        <div id='calendar' class="col-lg-4"></div>
        <div class="col-sm-4">
            <h2>Workouts</h2>
            <div class="exercises">

            </div>

        </div>
    </div>



    <script>
        var workouts = [];
        {% for day in calendar %}
        var dayEvent = [];
        dayEvent['id'] = '{{ day.id }}'
        dayEvent['start'] = '{{ day.dateFormat }}';
        dayEvent['title'] = '{{ day.names }}';
        if (!dayEvent['title']) {
            dayEvent['title'] = 'workout';
        }
        workouts.push(dayEvent);
        {% endfor %}
//        console.log(workouts);
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                events: workouts,
                eventClick: function(calEvent) {
                    $.ajax( "/app_dev.php/getWorkout/" + calEvent.id )
                        .done(function( json ) {
                            showExercise(json);
                        })
                        .fail(function( jqxhr, textStatus, error ) {
                            alert('Lohhhh!');
                        });
                }
            })
        });

        function showExercise(response) {
            console.log(response);
            $('.exercises').text("");
            $.each(response, function( index, exercise ) {
                        var     exe = $('<div id="' + exercise.id + '"></div>').append($('<h3></h3>').text(exercise.name));
                        exe.append(getSets(exercise.sets));
                        $('.exercises').append(exe);
                    }
            )
        }

        function getSets(sets) {
            var keys = [],
                    table = $('<table class="table"><thead></thead><tbody></tbody></table>');
            $.each(sets, function( index, rep ) {
                        var td = $('<td id="' + index + '"></td>').text('');
                        if (keys.length === 0) {
                            keys = $.map(rep, function(element,index) {return index});
                        }
                        $.each(keys, function(index, key) {
                            if (table.find('tbody').find('#'+key).length === 0) {
                                table.find('tbody').append($('<tr id="' + key + '"></tr>'))
                            }
                            table.find('tbody').find('#'+key).append($('<span id="' + key + '"></span>').text(rep[key]));
                            table.find('tbody').append(table.find('tbody').find('#'+key));
                        });
                    });
            console.log(table);
            return table;
        }

    </script>


</body>
</html>